<div class="blogs">
  <div class="con" onclick="loadPost('retro-dew')" id="retro-dew">
    <div class="title">
      A Dew&trade; filled Retrospective
    </div>
    <div class="meat">6 months ago ForgeHub had made an announcement that they would no longer be hosting Halo Online ( ElDewrito ) maps on their website. This blow came only a few weeks after Microsoft banned the mod which had been in development for years up until this point, from being worked on further. ForgeHub at the time was the largest Halo Online map repository, second only to the "Spreadsheet" ( a community maintained sheet containing links to maps ) and HaloVault. Looking for a fun challenge and wanting to help the community, I proclaimed that I would "build a website in 3 days and all will be well in the world!"

      This is what I learned...
    </div>
  </div>
</div>
