<div class="home">
  <h1>
    Hi! I'm <img src="img/finch.png" alt=""> a <a href="#websites">Web Developer</a>,
    <br>
    <a href="#games">Game Developer</a> and tech enthusiast.
    <br>
    <div class="links">
      <a href="https://twitter.com/finchMFG1" target="_blank" rel="noopener noreferrer">Twitter</a>
      <a href="https://github.com/finchMFG" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://medium.com/@finchMFG" target="_blank" rel="noopener noreferrer">Medium</a>
      <a href="mailto:finchMFG@mail.com">Email</a>
    </div>
  </h1>
</div>
