<div class="web">
  <div class="project">
    <img src="img/web/dew.jpeg" alt="">
    <div class="info">
      <a href="https://github.com/finchMFG/DewritoHub-2.0"  target="_blank" rel="noopener noreferrer" class="title">
        DewritoHub 2.0; Electric Boogaloo
      </a>
      <div class="description">
        DewritoHub is an ElDewrito ( Halo Online ) Map hosting website featuring over 500 community maps. With more than 600 registered users and 100K+ visits per month, DewritoHub is the largest Halo Online map repository to date.
      </div>
      <div class="tags">
        <div class="tag">
          meteor
        </div>
        <div class="tag">
          blaze
        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="info">
      <a href="https://github.com/finchMFG/openGuild-CMS"  target="_blank" rel="noopener noreferrer" class="title">
        OpenGuild-CMS
      </a>
      <div class="description">
        OpenGuild-CMS was an Open Source ( MIT ) Guild management application, built for World of Warcraft. It allows the sharing of news, raid progression, and the recruitment of new users. It is currently unsupported while I work on a new version. 
      </div>
      <div class="tags">
        <div class="tag">
          meteor
        </div>
        <div class="tag">
          blaze
        </div>
      </div>
    </div>
    <img src="img/web/open.jpeg" class="alt">
  </div>
</div>
