<div class="web">
  <link rel="stylesheet" href="/css/web.css">
  <div class="project">
    <div class="info">
      <a href="https://github.com/finchMFG/DewritoHub-2.0"  target="_blank" rel="noopener noreferrer" class="title">
        DewritoHub 2.0; Electric Boogaloo
      </a>
      <div class="description">
        DewritoHub is an ElDewrito ( Halo Online ) Map hosting website featuring over 500 community maps. With more than 600 registered users and 100K+ visits per month, DewritoHub is the largest Halo Online map repository to date.
      </div>
      <div class="links">
        <a href="https://dewritohub.com" target="_blank" rel="noopener noreferrer">Live Site</a>
        <a href="https://github.com/finchMFG/DewritoHub-2.0" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="#" target="_blank" rel="noopener noreferrer">Blog Post</a>
      </div>
    </div>
    <img src="img/web/dew.jpeg" class="alt">
  </div>
</div>
